<div class='options-container'>
    <div class="search-bar-container">
        <input type="text" id="searchBar" class="search-bar" placeholder="Search" autocomplete="off">
    </div>
    <select id="bookStatus" name="bookStatus" class="dropdown" autocomplete="off">
        <option value="availableBooks" selected="">Available</option>
        <option value="unavailableBooks">Unavailable</option>
        <option value="purchasedBooks">Purchased</option>
        <option value="allBooks">All</option>
    </select>
</div>